.login-content {
  display: table;
  background: url(https://kurspresent.ru/assets/image-cache/images/custom-photos//kurspresent-data/674-2020-05-31/shablon-prezentaczii-powerpoint-struktura-molekulyi-kurspresent-ru.efebf6bc.png);

  width: 100%;
  height: 100%;
  position: fixed;
}

table,
i th {
  border: 1px solid black;
  border-collapse: collapse;
}
.MendeleevTable {
  margin-top: 340px;
}
h1 {
  margin-left: 12px;
}
.Autorization {
  padding-left: 50%;
}
